@import "vars.css";

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: var(--bg-color);
  color: var(--fg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

.post-container {
  text-align: left;
  max-width: 75vw;
}

.post-date {
  font-size: 0.9rem;
  color: #bbb;
  margin-bottom: 1rem;
  padding: 1rem;
}

.post-content {
  font-size: 20px;
  text-align: center;
  max-width: 75vw;
}

.profile {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #555;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2em;
  margin: 0.2em 0;
}

a {
  color: var(--accent);
}

.tagline {
  font-size: 1.2em;
  color: #aaa;
  margin-bottom: 1.5rem;
}

.social-links a {
  margin: 0 10px;
  color: #f0f0f0;
  font-size: 1.5em;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #00bcd4;
}

nav.section-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

nav.section-menu a {
  display: inline-block;
  padding: 0.25rem 1rem;
  color: var(--fg-color);
  text-decoration: none;
  /*border: 1px solid #007bff;*/
  border-radius: 4px;
  background: var(--alt-bg);
  padding: 0.5rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}

nav.section-menu a:hover {
  background-color: var(--accent-bg);
}

nav.post-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav.post-list ul {
  list-style-type: none;
}

nav.post-list li {
  padding: 10px 15px;
  background: var(--alt-bg);
  padding: 1rem;
  width: 50vw;
  border-radius: 5px;
  transition: background-color 0.25s ease;
  text-align: left;
}

nav.post-list li:hover {
  background-color: var(--alt-accent-bg);
  cursor: pointer;
}

nav.post-list a {
  color: var(--fg-color);
  text-decoration: none;
}

.quote {
  border-left: 0.25rem solid var(--accent);
  padding: 5px;
  color: var(--fg-deactivated);
}


 .button-post{
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    color: #fff;
    background-color:var(--accent-bg);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
 }