:root {
  --bg-color: #121212;
  --alt-bg: #1f1f1f;
  --fg-color: #f0f0f0;
  --fg-deactivated: #979797;
  --accent: #2461a2;
  --accent-bg: #407dbe;
  --alt-accent-bg: #36699f;
  --accent-dark: #194370;
}
